 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/vcvv-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 770px;
  margin: 438px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.25rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1231px;
}

.u-section-2 .u-shape-1 {
  width: 228px;
  height: 228px;
  margin: 80px auto 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-family: Ubuntu, sans-serif;
  margin: -174px 0 0 301px;
}

.u-section-2 .u-image-1 {
  height: 557px;
  width: 557px;
  background-image: url("images/fffff.jpg");
  background-position: 50% 50%;
  margin: 72px auto 0 73px;
}

.u-section-2 .u-group-1 {
  width: 527px;
  min-height: 485px;
  height: auto;
  margin: -377px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px;
}

.u-section-2 .u-text-2 {
  margin: 27px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 27px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 43px auto 0 0;
  padding: 11px 44px 11px 42px;
}

.u-section-2 .u-image-2 {
  height: 310px;
  width: 310px;
  background-image: url("images/close-up-guy-holding-controller_23-2148243619.jpg");
  background-position: 50% 50%;
  margin: -296px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 147px;
  height: 147px;
  margin: -5px auto 60px 320px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1182px;
  }

  .u-section-2 .u-shape-1 {
    width: 193px;
    height: 193px;
    margin-top: 81px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -222px;
    margin-left: 101px;
  }

  .u-section-2 .u-image-1 {
    height: 588px;
    width: 588px;
    margin-top: 90px;
    margin-left: 30px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    margin-top: -263px;
    height: auto;
  }

  .u-section-2 .u-image-2 {
    height: 273px;
    width: 273px;
    margin-top: -392px;
    margin-left: 20px;
  }

  .u-section-2 .u-shape-2 {
    width: 118px;
    height: 118px;
    margin-top: 27px;
    margin-left: 196px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1397px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 238px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.625rem;
    margin-top: -351px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 183px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 446px;
    margin-top: -143px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 229px;
    width: 229px;
    margin-top: -511px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 43px;
    margin-left: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1768px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 198px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
    margin-top: -311px;
  }

  .u-section-2 .u-image-1 {
    height: 528px;
    width: 528px;
    margin-top: 244px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 271px;
    width: 527px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -845px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -27px;
    margin-right: 139px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1506px;
  }

  .u-section-2 .u-shape-1 {
    width: 134px;
    height: 134px;
    margin-top: 200px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.75rem;
    margin-top: -254px;
  }

  .u-section-2 .u-image-1 {
    width: 317px;
    height: 317px;
    margin-top: 184px;
  }

  .u-section-2 .u-group-1 {
    min-height: 498px;
    margin-top: 287px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    width: 200px;
    margin-top: -853px;
  }

  .u-section-2 .u-shape-2 {
    width: 98px;
    height: 98px;
    margin-top: 23px;
    margin-right: 72px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 811px;
}

.u-section-3 .u-image-1 {
  width: calc(((100% - 1140px) / 2) + 800px);
  left: 0;
  right: auto;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto auto auto;
  width: 635px;
  height: auto;
  margin: 57px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 23px 23px;
  min-height: 466px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-1 {
  padding: 0 13px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 27px 34px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 13px 25px 0 9px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-2 {
  padding: 0 13px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 27px 34px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 13px 25px 0 9px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    width: 697px;
  }

  .u-section-3 .u-list-1 {
    width: 519px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 928px;
  }

  .u-section-3 .u-image-1 {
    width: 576px;
  }

  .u-section-3 .u-list-1 {
    width: 448px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1140px;
  }

  .u-section-3 .u-image-1 {
    width: 555px;
    height: 501px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-3 .u-list-1 {
    width: 390px;
    margin: 315px auto 0 calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1031px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 307px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: 236px;
    margin-left: auto;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/36aeffdeb468e3dd126bdc17f305b2a8fa9beb2075e0a4f8fc52835b74a2417e55dea0730df59965a54310cdffa47a7fe4ffc20c9430b102ff5aae_1280.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 83px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 52px 117px 60px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-5 .u-shape-1 {
  height: 463px;
  background-image: none;
  margin-top: 301px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  width: 868px;
  height: 609px;
  margin: -694px 95px 0 auto;
}

.u-section-5 .u-slider-1 {
  width: 474px;
  min-height: 440px;
  margin: -150px auto 35px 65px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  top: auto;
  bottom: 28px;
}

.u-section-5 .u-carousel-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  margin: 18px 61px 0 58px;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 17px 58px 0 62px;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: -21px 65px 0 auto;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 83px auto -50px;
}

.u-section-5 .u-carousel-control-1 {
  width: 40px;
  height: 40px;
  background-image: none;
  left: 0;
  position: absolute;
  top: 206px;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  top: 206px;
  right: 0;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    height: 413px;
  }

  .u-section-5 .u-image-1 {
    width: 702px;
    height: 569px;
    margin-top: -644px;
    margin-right: 72px;
  }

  .u-section-5 .u-slider-1 {
    height: auto;
    margin-top: -110px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 35px;
  }

  .u-section-5 .u-image-1 {
    width: 539px;
    height: 452px;
    margin-right: 52px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 390px;
    margin-top: -76px;
    margin-bottom: -196px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    width: 482px;
    height: 404px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-slider-1 {
    width: 410px;
    min-height: 386px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 44px;
  }

  .u-section-5 .u-image-1 {
    height: 266px;
    width: 317px;
    margin-top: -576px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-slider-1 {
    width: 312px;
    min-height: 438px;
    margin-top: -54px;
    margin-bottom: -119px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }
} .u-section-6 {
  background-image: url("images/pexels-photo-459762.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 674px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 16px 717px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 65px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 517px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    background-position: 0% 0%;
    background-size: 120%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 297px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    background-size: auto 145%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 117px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-top: 67px;
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 756px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-7 .u-image-1 {
  background-image: url("images/gggg-min.jpg");
  min-height: 657px;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-2 {
  background-image: none;
  min-height: 657px;
}

.u-section-7 .u-container-layout-2 {
  padding: 27px 30px;
}

.u-section-7 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-7 .u-form-1 {
  height: 361px;
  width: 548px;
  margin: 32px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

.u-section-7 .u-text-2 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 35px 209px 0 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 29px auto 0 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-7 .u-image-1 {
    min-height: 542px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-7 .u-form-1 {
    width: 441px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-7 .u-image-1 {
    min-height: 415px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-form-1 {
    width: 324px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-7 .u-image-1 {
    min-height: 667px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-7 .u-image-1 {
    min-height: 420px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-form-1 {
    width: 320px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }
}